.lot-short {
    min-height: 100px
}
.img-thumb {
    padding: 5px
}

.lot-header {
    font-size: 1.2rem;
}

.lot-text {
    padding-left: 0;
    padding-right:0
}

.align-items-center.row.border.rounded.d-flex {
    margin-top: 5px;
}
